#grafico .button {
	position: absolute;
	cursor: pointer;
	}

#grafico div.button {
	font-size: smaller;
	color: #999;
	background-color: #eee;
	padding: 2px;
	}

.message {
	padding-left: 50px;
	font-size: smaller;
	}
